<footer class="wi-100 shadow-up flex-row al-center jus-between ph-l">
	<div id="status-container" class="center-child">
		<c-status></c-status>
	</div>
	<div id="info" class="flex-row al-center">
		<p class="f1reg" id="copy-right">COPYRIGHT © 2021 ALL RIGHT RESERVED.</p>
		<span class="divider mh-l" style="height: 15px;"></span>
		<nav class="flex-row al-center">
			<ul class="flex-row al-center f2reg">
				<li><a routerLink="/public/help">Help</a></li>
				<li class="mh-m"><a routerLink="/public/privacy">Privacy Policy</a></li>
				<li><a routerLink="/public/terms">Terms & Condition</a></li>
			</ul>
		</nav>
	</div>
</footer>
