<div class="wi-100 hi-100v flex-col jus-between al-center pt-xxxl">
	<img id="logo" src="../../../assets/images/light-logo.svg" alt="logo">
	<router-outlet></router-outlet>
	<footer class="card f2reg shadow-up wi-80 wi-1024-90 flex-row al-center jus-between pv-l ph-l">
		<a href="mailto:hello@inovar.ltd">hello@inovar.ltd</a>
		<p class="f1reg">© 2022 Inover. All rights reserved.</p>
		<div class="flex-row al-center">
			<a class="mr-s" routerLink="/public/terms">Terms & Condition</a>
			<a class="ml-s" routerLink="/public/privacy">Privacy Policy</a>
		</div>
	</footer>
</div>

<!--TODO: FORGOT PASSWORD-->
